<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html>
  <head>
	 <meta http-equiv="content-type" content="text/html; charset=utf-8">
	 <title>UNIVERSIDAD CENTRAL DEL ECUADOR</title>
  </head>
  <body>
    <p><strong>Postulante: ${nombres} ${apellidos}</strong></p>
    <br/>
    <p><strong>Facultad: </strong>${facultad}</p>
	<p><strong>Carrera/Programa: </strong> ${carrera}</p> 
	<br/>
	La Unidad de Titulaci&#243;n Especial de la Universidad Central del Ecuador le comunica que luego de haber rendido su examen complexivo de gracia, usted ha obtenido la calificaci&#243;n de <strong>${nota}</strong> ante lo cual <strong>REPROB&#211;</strong> su mecanismo de titulaci&#243;n.    
	<br/>
	<br/>
	Por tanto su actividad acad&#233;mica en este proceso concluy&#243;. Para mayor informaci&#243;n dir&#237;jase a la Carrera.
	<br/>
	<br/> 
	El proceso se realiz&#243; el ${fechaHora}
	<br/>	  
	<br/>
	<br/>
	<br/>
	<br/>
	...........................................................................................
	<br/>
	<strong>Informaci&#243;n del Correo: </strong> Mail generado autom&#225;ticamente. Por favor no responda a este mensaje.
	<br/>
	<br/>
	<br/>