<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html>
  <head>
	 <meta http-equiv="content-type" content="text/html; charset=utf-8">
	 <title>UNIVERSIDAD CENTRAL DEL ECUADOR</title>
  </head>
  <body>
    <p><strong>Estimado(a): ${nombres} ${apellidos}.-</strong></p>
    <br/>
    <p><strong>Facultad: </strong>${facultad}</p>
	<p><strong>Carrera/Programa: </strong>${carrera}</p> 
	<br/>
		
	La Unidad de Titulación Especial de la Universidad Central del Ecuador le comunica que una vez que ha aceptado el registro en el curso de actualizaci&#243;n de conocimientos, usted debe imprimir el documento que recibió el momento de dar click en Aceptar registro, por motivos de respaldo también dicho documento fue enviado como adjunto en el presente email.
<br/>
Para continuar con el proceso deber&#225;:
<br/>
Acercarse a la oficina del Director de su carrera y hacer firmar la orden de cobro y acercarse a cancelar

<br/>
NOTA.- Cabe resaltar que previo a la declaraci&#243;n de APTITUD, usted deberá haber concluido el proceso de ACTUALIZACION DE CONOCIMIENTOS. 
	<br/>
	  El proceso se realiz&#243; el ${fechaHora}
	  <br/>	  
	  <br/>
	  <br/>
	  <br/>
	  <br/>
	  ...........................................................................................
	  <br/>
	  <strong>Informaci&#243;n del Correo: </strong> Mail generado autom&#225;ticamente. Por favor no responda a este mensaje.
	  <br/>
	  <br/>
	  <br/>