<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html>
  <head>
	 <meta http-equiv="content-type" content="text/html; charset=utf-8">
	 <title>UNIVERSIDAD CENTRAL DEL ECUADOR</title>
  </head>
  <body>
    <p><strong>Estimado(a): ${nombres} ${apellidos}.-</strong></p>
    <br/>
	   Este proceso tiene dos pasos<strong> REGISTRO Y POSTULACI&#211;N</strong>.
	   La Universidad Central del Ecuador le comunica que su registro al sistema de titulaci&#243;n de posgrados ha sido realizado con el siguiente detalle:
	  <br/>
	  <br/>
	   Su registro se proces&#243; el ${fechaHora}, su usuario y contrase&#241;a para el ingreso al sistema son los siguientes:
	  <br/>
	  <br/>
	   <p><strong>Usuario: </strong>${usuario}</p>
	   <p><strong>Contrase&#241;a: </strong>${clave}</p>
	  <br/>
	  Con su usuario y contrase&#241;a tiene que ingresar nuevamente al sistema para realizar su <strong>POSTULACI&#211;N</strong> a la Facultad y Programa que le corresponde y as&#237; concluir con el proceso.
	  <br/>
	  <br/>
	  NOTA: Tome en cuenta que mientras usted no realice la postulaci&#243;n en el sistema su proceso no est&#225; concluido.
	  <br/>
	  <br/>
	  Para ingresar al sistema haga <a target="_blank" href=${pagina}><strong>clic aqu&#237;</strong> </a>		  
	  <br/>
      <br/> 
	  ...........................................................................................
	  <br/>
	  <strong>Informaci&#243;n del Correo: </strong> Mail generado autom&#225;ticamente. Por favor no responda a este mensaje.
	  <br/>
	  <br/>
	  <br/>